@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	background: #0f121d;
}

@layer base {
	* {
		user-select: none;
	}
}

.SCROLLBAR::-webkit-scrollbar {
	background-color: #fff;
	width: 0px;
	height: 0px;
	border-radius: 10px;
}

/* Track */
.SCROLLBAR::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
}

/* Handle */
.SCROLLBAR::-webkit-scrollbar-thumb {
	background: rgba(213, 213, 213, 0.7);
	border-radius: 10px;
}

::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	pointer-events: none;
}
